.radio-blue {
    margin-top: -2px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.courseNResult {
    margin-right: 10px;
}

.addBtn {
    margin-top: 20px;
}
.paddingImg{
    padding:10px;
}
.cycMng {
    margin-bottom: -10px;
}

.chckTerm {
    margin-left: 10px;
}

.crsMng {
    margin-bottom: -20px;
}

.fmName {
    padding-left: 20px;
}

.red {
    color: red;
}

.green {
    color: #27ae60;
}

.tenPer {
    width: 10%;
}

.mid {
    max-width: 310px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs > li,
.nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    zoom: 1;
    /* hasLayout ie7 trigger */
    margin: -3px;
}

.nav-tabs,
.nav-pills {
    text-align: center;
}

.white {
    color: #ecf0f1;
}

#block {
    margin: 15px
}

.icon30 {
    font-size: 30px;
}

.checkboxgroup {
    display: inline-block;
    text-align: center;
}

.checkboxgroup label {
    display: block;
}

@media(max-width:767px) {
    table {
        font-size: 12px;
    }
    .centerI {
        margin-left: 0%;
    }
}

@media(min-width:768px) {
    .centerI {
        margin-left: 26%;
    }
}

@media(min-width:992px) {
    .centerI {
        margin-left: 31%;
    }
}

@media(min-width:1200px) {
    .centerI {
        margin-left: 35%;
    }
}

@media all {
    #print-note	{ display: none; }
}

@media print {
    .btn, .navbar-info, .evidenceRow, footer	{
        display: none;
    }
    #print-note {
        display: block;
        font-size: 13px;
    }
    .text-center {
        font-size: 15px;
    }
    table {
        font-size: 10px;
    }
    table h6 {
        font-size: 12px;
    }
    @page {
        margin-top: 0px;
        margin-bottom: 0px;

    }
}

.block {
    margin: -10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    height: 250px;
    border-style: solid;
    border-color: #ecf0f1;
    border-width: 3px;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #003366;
    text-align: center;
    -o-transition: color .2s ease-out, background-color .2s ease-in;
    -ms-transition: color .2s ease-out, background-color .2s ease-in;
    -moz-transition: color .2s ease-out, background-color .2s ease-in;
    -webkit-transition: color .2s ease-out, background-color .2s ease-in;
    /* ...and now override with proper CSS property */
    transition: color .2s ease-out, background-color .2s ease-in;
}

.block:hover {
    background-color: #ecf0f1;
    color: #1abc9c;
}

.mainblock a .block i {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 8em;
}
.btn{
    margin-left: 5px;
}
.mrgB{
    margin-bottom: 20px;
}
.fixed{
    top:0;
    position:fixed;
    width:auto;
    display:none;
    border:none;
}
table{
    border-collapse:collapse;
    width:100%;
}



th,td{
    text-align:center;
    padding:5px 0;
}
