.radio-blue {
    margin-top: -2px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.courseNResult {
    margin-right: 10px;
}

.addBtn {
    margin-top: 20px;
}

.cycMng {
    margin-bottom: -10px;
}

.chckTerm {
    margin-left: 10px;
}

.crsMng {
    margin-bottom: -20px;
}

.fmName {
    padding-left: 20px;
}

.red {
    color: red;
}

.green {
    color: #27ae60;
}

.tenPer {
    width: 10%;
}

.mid {
    max-width: 310px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs > li,
.nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    zoom: 1;
    /* hasLayout ie7 trigger */
    margin: -3px;
}

.nav-tabs,
.nav-pills {
    text-align: center;
}

.white {
    color: #ecf0f1;
}

#block {
    margin: 15px
}

.icon30 {
    font-size: 30px;
}

.checkboxgroup {
    display: inline-block;
    text-align: center;
}

.checkboxgroup label {
    display: block;
}

@media(max-width:767px){
    table {
        font-size: 13;
    }
    .centerI {
        margin-left: 0%;
    }
}

@media(min-width:768px) {
    .centerI {
        margin-left: 26%;
    }
}

@media(min-width:992px) {
    .centerI {
        margin-left: 31%;
    }
}

@media(min-width:1200px) {
    .centerI {
        margin-left: 35%;
    }
}