table#table-sever-list tr td a.rowOption {
    filter: alpha(opacity=100); opacity: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;}
table#table-sever-list tr:hover td a.rowOption {
    filter: alpha(opacity=100); opacity: 1.00;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.textContainer td ,.textContainer th {
    vertical-align: middle !important;
    text-align: center;
}